{% extends "base.html" %}
{% set active_page = "advice" %}
{% block content %}
<article class="container card" style="padding: 30px;" id="contentmargin">
  <h1>How to Go Viral</h1>
  <p>
    <a class="link" href="https://www.businessinsider.com/american-kids-youtube-star-astronauts-survey-2019-7" target="_blank" rel="noopener noreferrer">A recent survey</a> showed that the most popular career American children want to have is — not astronaut, not teacher, not even president — but a <b>Youtuber</b>. It’s every kid’s dream to go viral on YouTube and have <i>millions</i> of people view your content.  But often it feels like no matter how many hours you put into your video, both your views and your popularity will fail to grow. With this introduction, you will know the steps you should take to make your channel grow and rake into those subscribers!
  </p>
  <p>
    The most important things to do when trying to go viral is:
  </p>
  <!-- list -->
  <ul class="fa-ul">
    <li>
      <span class="fa-li"><i class="far fa-check-circle"></i></span> Know your Audience
    </li>
    <li>
      <span class="fa-li"><i class="far fa-check-circle"></i></span> Look Interesting
    </li>
    <li>
      <span class="fa-li"><i class="far fa-check-circle"></i></span>
      Be Engaging
    </li>
    <li>
      <span class="fa-li"><i class="far fa-check-circle"></i></span>
      Network with Others
    </li>
  </ul>
  <!-- Article -->
  <!-- Heading 1 -->
  <h3 class="viralHeading">1. Know your Audience </h3>
  <p>
    Look out for the hottest trends. There are <i>countless people</i> on YouTube searching for their favorite content creator, and you have to do what it takes to know them in. Spend your time viewing your own content and niches and explore the depths of YouTube. One way to know what's trending is to look at <a class="link" href="https://trends.google.com/" target="_blank" rel="noopener noreferrer">Google Trends</a>, which shows the statistics of what’s being searched on Google right now. Once you've figured out something trendy, adapt to it. Know what’s trending and try to integrate it into your work, and take into account what your audience wants to see!
  </p>
  <!-- Heading 2 -->
  <h3 class="viralHeading">2. Look Interesting </h3>
  <p>
    You want to grab the attention of potential viewers. What is the first thing a person will do when searching for their favorite topic? I'll give you a hint, they'll look at your thumbnail, profile picture, and title. Don't just add a random thumbnail, be sure to personalize it! Be sure to also make your title relevant with a slight sense of clickbait. Do whatever it takes so that in one glance, any prospective subscriber will see your content and think “hey, today I’m going to click that.”
  </p>
  <!-- Heading 3 -->
  <h3 class="viralHeading">3. Be Engaging </h3>
  <p>
    Once you start reeling people in with those beautiful thumbnails and pictures, make good content. Yes, it’s that simple. You got them into your doorstep, now impress them with your impressive editing, incredible footage, and the best video you can muster. Spend time, effort, and imagination on your videos. Be creative, think out of the box, and in no time, you’ll be getting your likes, comments, and subscribers.
  </p>
  <h3 class="viralHeading">4. Network with Others </h3>
  <p>
    This is one of the most undervalued aspects of growing your channel. Being a small fish in a big pond is no doubt going to be difficult, so it’s best to do it with friends! You want to network with others, such as content creators, so you can collaborate and grow your channel together. You’ll both be able to bounce ideas, create much more entertaining videos, and share audiences. At the end of the day, both of you will grow as YouTubers. The more that people hear about your channel, the more potential views you are able to get!
  </p>
</article>
{% endblock %}
